<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Test</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/ico"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">


    </head>

    <body>

        <div class="field">
            <canvas id="canvas"></canvas>
            <img id="diagramme"></img>
            <div class="tools">
                
                <!-- <form id="form" method=post enctype=multipart/form-data>
                <input type="file" name="file">
                <input type=submit value=Pull></form> -->
                <button onClick="save()" type="button" class="button">Enregistrer</button>
                <button onClick="undo()" type="button" class="button">Undo</button>
                <button onClick="clear_canvas()" type="button" class="button">Clear</button>
                
                <div onClick="change_color(this)" class="color-field" style="background: red;"></div>
                <div onClick="change_color(this)" class="color-field" style="background: blue;"></div>
                <div onClick="change_color(this)" class="color-field" style="background: green;"></div>
                <div onClick="change_color(this)" class="color-field" style="background: yellow;"></div>

                <input onInput="draw_color = this.value" type="color" class="color-picker">
                <input type="range" min="1" max="100" class="pen-range" onInput="draw_width = this.value">



            </div>
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</html>