<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Drawing</title>
        <link rel="icon" href="{{ url_for('static', filename='icon.png')}}" type="image/png"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">


    </head>

    <header>
        <p id="title">Drawing Predictions</p>
    </header>

    <body>
        <p id="explainations">Inspiré du jeu Google Quick, Draw! Notre réseau de neurones est capable de prédire 345 objets différents.<br>
            Essayez de dessiner quelque chose dans la zone de dessin ci-dessous, puis laissez le réseau tenter de prédire votre dessin! </p>

        <div class="field">
            <canvas id="canvas"></canvas>
            <img id="diagramme"></img>
            <div class="tools">
                
                <button id="predict-button" onClick="predict()" type="button" class="button">Predict</button>
                <button onClick="undo()" type="button" class="button">Undo</button>
                <button onClick="clear_canvas()" type="button" class="button">Clear</button>
                
                <div onClick="change_color(this)" class="color-field" style="background: red;"></div>
                <div onClick="change_color(this)" class="color-field" style="background: blue;"></div>
                <div onClick="change_color(this)" class="color-field" style="background: green;"></div>
                <div onClick="change_color(this)" class="color-field" style="background: yellow;"></div>

                <input onInput="draw_color = this.value" type="color" class="color-picker">
                <input type="range" min="1" max="20" class="pen-range" onInput="draw_width = this.value">

</div>
        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</html>